<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="com.novalauncher.THEME" />
        </intent>
        <intent>
            <action android:name="com.anddoes.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="com.teslacoilsw.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="org.adw.launcher.THEMES" />
        </intent>
    </queries>

    <application
        android:name=".DevBayLauncherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.DevBayLauncher"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.DevBayLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".HomeAlias"
            android:targetActivity=".MainActivity"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="leakcanary.internal.activity.LeakLauncherActivity"
            android:enabled="false"
            tools:node="merge"
            tools:ignore="MissingClass" />

        <activity
            android:name=".activity.VaultActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.WidgetPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.SettingsShortcutsActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.GestureSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.LockScreenActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.LogViewerDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.FolderContentsActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.IconPackPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.ShizukuPairingActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.GitHubMonitorActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <activity
            android:name=".activity.ClipboardActivity"
            android:exported="false"
            android:theme="@style/Theme.DevBayLauncher" />

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

        <service
            android:name=".notification.DevBayNotificationListenerService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>
</manifest>